{% extends "layout.html" %}
{% block title %}Raport{% endblock %}


{% block content %}

<h4>Raport</h4>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Przedmiot</th>
            <th>Oceny</th>
            <th>Średnia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Matematyka</td>
            <td>5, 5, 3, 2</td>
            <td>??</td>
        </tr>
        <tr>
            <td>Polski</td>
            <td>5, 5, 3, 2</td>
            <td>??</td>
        </tr>
    </tbody>
</table>

{% endblock %}